<div class="container-fluid">

  <%= render :partial => "/partials/page_head", :locals => {:back => ".", :title => "Application properties"} %>

  <div class="list-group">

    <div class="list-group-item">
      <strong>appBundleFolder</strong>

      <p class="item-value">
        <%= Rho::Application.appBundleFolder %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>appName</strong>

      <p class="item-value">
        <%= Rho::Application.appName %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>appsBundleFolder</strong>

      <p class="item-value">
        <%= Rho::Application.appsBundleFolder %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>badLinkURI</strong>

      <p class="item-value">
        <%= Rho::Application.badLinkURI %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>bundleFolder</strong>

      <p class="item-value">
        <%= Rho::Application.bundleFolder %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>configPath</strong>

      <p class="item-value">
        <%= Rho::Application.configPath %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>databaseBlobFolder</strong>

      <p class="item-value">
        <%= Rho::Application.databaseBlobFolder %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>defaultNativeMenu</strong>

      <p class="item-value">
        <%= Rho::Application.defaultNativeMenu %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>locale</strong>

      <p class="item-value bg-danger">
        The method Rho::Application.locale is does not implemented yet. This is the issue.
        <!--Rho::Application.locale-->
      </p>
    </div>

    <div class="list-group-item">
      <strong>modelsManifestPath</strong>

      <p class="item-value">
        <%= Rho::Application.modelsManifestPath %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>nativeMenu</strong>

      <p class="item-value">
        <%= Rho::Application.nativeMenu %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>publicFolder</strong>

      <p class="item-value">
        <%= Rho::Application.publicFolder %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>settingsPageURI</strong>

      <p class="item-value">
        <%= Rho::Application.settingsPageURI %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>splash</strong>

      <p class="item-value">
        <%= Rho::Application.splash %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>startURI</strong>

      <p class="item-value">
        <%= Rho::Application.startURI %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>title</strong>

      <p class="item-value">
        <%= Rho::Application.title %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>userFolder</strong>

      <p class="item-value">
        <%= Rho::Application.userFolder %>
      </p>
    </div>

    <div class="list-group-item">
      <strong>version</strong>

      <p class="item-value">
        <%= Rho::Application.version %>
      </p>
    </div>

  </div>


</div>