<div class="container-fluid">

  <%= render :partial => "/partials/page_head", :locals => {:back => "/app/", :title => "Application"} %>

  <div class="row">
    <div class="list-group">
      <a href="<%= url_for :action => :app_properties %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application properties </a>
      <a href="<%= url_for :action => :app_databaseFilePath %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application.databaseFilePath() </a>
      <a href="<%= url_for :action => :app_expandDatabaseBlobFilePath %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application.expandDatabaseBlobFilePath() </a>
      <a href="<%= url_for :action => :app_minimize_and_restore %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application minimize and restore (WM, CE, Win32 only!) </a>
      <a href="<%= url_for :action => :app_modelFolderPath %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application.modelFolderPath() </a>
      <a href="<%= url_for :action => :app_quit %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application.quit() </a>
      <a href="<%= url_for :action => :app_relativeDatabaseBlobFilePath %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application.relativeDatabaseBlobFilePath() </a>
      <a href="<%= url_for :action => :app_setApplicationNotify %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application.setApplicationNotify() </a>
    </div>

  </div>

</div>


