<div class="container-fluid">

  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h4 class="text-center">Rho API References</h4>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

  <div class="row">
    <div class="list-group">
      <a href="<%= url_for :controller => :Application %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Application
      </a>

      <a href="<%= url_for :controller => :Camera %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Camera
      </a>

      <a href="<%= url_for :controller => :Barcode %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Barcode
      </a>

      <a href="<%= url_for :controller => :Battery %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Battery
      </a>

      <a href="<%= url_for :controller => :Config %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Config
      </a>

      <a href="<%= url_for :controller => :Database %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Database
      </a>

      <a href="<%= url_for :controller => :KeyCapture %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        KeyCapture
      </a>

    </div>
  </div>

</div>
