<div class="container-fluid">

  <%= render :partial => "/partials/page_head", :locals => {:back => '.', :title => 'System.run'} %>

  <div class="container">
    <button type="button" id="tel" class="btn btn-primary btn-block">Open tel:555-555</button>
    <button type="button" id="sms" class="btn btn-primary btn-block">Open sms:555-555</button>
    <button type="button" id="google-store" class="btn btn-primary btn-block">Open Google Store</button>
    <button type="button" id="apple-store" class="btn btn-primary btn-block">Open App Store</button>
    <button type="button" id="google-maps" class="btn btn-primary btn-block">Open Google Maps</button>
    <button type="button" id="apple-maps" class="btn btn-primary btn-block">Open Apple Maps</button>
  </div>

  <div class="result">
    <div class="alert <%= result_css_class %>" role="alert"><%= @result %></div>
  </div>
</div>

<script>
    $("#tel").on("click", function (event) {
        $.post("<%= url_for(:action => :do_open_url_tel) %>", function (data) {
        }, "json");
    });

    $("#sms").on("click", function (event) {
        $.post("<%= url_for(:action => :do_open_url_sms) %>", function (data) {
        }, "json");
    });

    $("#google-store").on("click", function (event) {
        $.post("<%= url_for(:action => :do_open_url_google_store) %>", function (data) {
        }, "json");
    });

    $("#apple-store").on("click", function (event) {
        $.post("<%= url_for(:action => :do_open_url_apple_store) %>", function (data) {
        }, "json");
    });

    $("#google-maps").on("click", function (event) {
        $.post("<%= url_for(:action => :do_open_url_google_maps) %>", function (data) {
        }, "json");
    });

    $("#apple-maps").on("click", function (event) {
        $.post("<%= url_for(:action => :do_open_url_apple_maps) %>", function (data) {
        }, "json");
    });
</script>